@tailwind base;
@tailwind components;

@font-face {
    font-family: "pokemon";
    src: url("../assets/fonts/PokemonSolid.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@tailwind utilities;
